<?xml version="1.0" encoding="utf-8" ?>
<configuration>   
  <appSettings>
    <add key="ErrorPageUrl" value="Error.aspx"/>
    <add key="DbProvider" value="SqlHelper"/>
    <add key="Security" value="DNCC"/>
    <add key="Log" value="YES"/>    
  </appSettings>
  <connectionStrings>
    <add name="PermissionsConnectionString" connectionString="Data Source=210.209.117.61;Initial Catalog=Perimissions;uid=sa;pwd=ccms@123"/>
    <add name="connectionString" connectionString=""/>
  </connectionStrings>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="bin;Plugin" />
    </assemblyBinding>
  </runtime>
</configuration>